Repository voxpupuli/puppet-bareos, pull requests merged in 2021-12, with the labels that each got.

#89 `runscript_short` allows multiple values
  lib/puppet/parser/functions/bareos_settings.rb
  spec/functions/bareos_settings_spec.rb
Labels: enhancement

#91 modulesync 5.1.0 & Drop Puppet 5; Add Puppet 7 support
  .msync.yml
  .puppet-lint.rc
  Gemfile
  Rakefile
  gen_puppet.rb
  lib/puppet/parser/functions/bareos_settings.rb
  metadata.json
  spec/classes/client_client_spec.rb
  spec/classes/client_spec.rb
  spec/classes/console_spec.rb
  spec/classes/director_director_spec.rb
  spec/classes/director_spec.rb
  spec/classes/init_spec.rb
  spec/classes/monitor_spec.rb
  spec/classes/repository_spec.rb
  spec/classes/storage_spec.rb
  spec/classes/storage_storage_spec.rb
  spec/classes/webui_spec.rb
  spec/defines/client/client_director_spec.rb
  spec/defines/client/client_messages_spec.rb
  spec/defines/console/console_console_spec.rb
  spec/defines/console/console_director_spec.rb
  spec/defines/director/director_catalog.rb
  spec/defines/director/director_client_spec.rb
  spec/defines/director/director_console_spec.rb
  spec/defines/director/director_counter_spec.rb
  spec/defines/director/director_fileset_spec.rb
  spec/defines/director/director_job_spec.rb
  spec/defines/director/director_jobdefs_spec.rb
  spec/defines/director/director_messages_spec.rb
  spec/defines/director/director_pool_spec.rb
  spec/defines/director/director_profile_spec.rb
  spec/defines/director/director_schedule_spec.rb
  spec/defines/director/director_storage_spec.rb
  spec/defines/monitor/monitor_client_spec.rb
  spec/defines/monitor/monitor_director_spec.rb
  spec/defines/monitor/monitor_monitor_spec.rb
  spec/defines/monitor/monitor_storage_spec.rb
  spec/defines/storage/storage_autochanger_spec.rb
  spec/defines/storage/storage_device_spec.rb
  spec/defines/storage/storage_director_spec.rb
  spec/defines/storage/storage_messages_spec.rb
  spec/defines/storage/storage_ndmp_spec.rb
  spec/functions/bareos_settings_spec.rb
  spec/settings_helper.rb
  spec/spec_helper.rb
Labels: backwards-incompatible

#92 modulesync 5.1.0
  .sync.yml
Labels: modulesync

#93 Allow multiple occurences of sub-options in filesets
  lib/puppet/parser/functions/bareos_settings.rb
Labels: enhancement
