Repository voxpupuli/puppet-bareos, pull requests merged in 2022-10, with the labels that each got.

#112 modulesync 5.3.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#111 Allow up-to-date dependencies
  metadata.json
Labels: enhancement

#113 drop EL6 support
  metadata.json
Labels: backwards-incompatible

#115 [BREAKING CHANGE] updated default version to Bareos 21
  manifests/init.pp
  manifests/repository.pp
Labels: backwards-incompatible

#116 Add support for droplet device_type
  lib/puppet/parser/functions/bareos_settings.rb
  spec/functions/bareos_settings_spec.rb
Labels: enhancement

#114 drop support for fedora 31 & 32 (EOL)
  metadata.json
Labels: backwards-incompatible
